body {
  font-family: 'Segoe UI', sans-serif;

  background-color: #757575;

  margin: 0;
}

.conteudo {
  display: flex;
  flex-direction: column;

  padding: 0 5%;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #f9f9f9;
}

.descricao {
  font-size: 22px;
  font-weight: 600;
  color: #f9f9f9;
}

.container-formulario {
  display: flex;
  align-items: center; 

  gap: 5px;

  padding: 1%;
}

.btn-pesquisar,
.btn-limpar {
  flex: 0 0 auto; 
}

.pesquisa {
  outline: 1px solid #f9f9f9;
  border:none;
  border-radius: 10px;

  font-size: 30px;

  margin-left: 12px;
  padding: 5px;
}

.pesquisa-erro {
  outline: 2px solid #DA471B !important;
}

.btn {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
  display: grid;
  padding: 15px;

  border: none;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
  outline: 1px solid #ffffff;
}

.btn-pesquisar {
  background-color: #4DAD5B;
  color: white;
}

.btn-limpar {
  background-color: #DA471B;
  color: white;
}

.card-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 250px;

  background-color: #e1e1e1;
  color: #313131;

  border-radius: 1rem;

  margin-top: 5%;
}

.notificacao {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  
  border: 1px solid;

  color: red;
	background-color: #FFBABA;
  background-repeat: no-repeat;
  background-position: 10px center;
	background-image: url('https://i.imgur.com/GnyDvKN.png');

  width: 300px;

  padding: 10px 20px;
  margin-bottom: 1%;

}

.notificacao:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.grid-pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;

  
  justify-content: center; 
}